* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.inicio {
    max-width: 600px;
    margin: 80px auto 30px;
    text-align: center;
}
.inicio h1 {
    margin-bottom: 10px;
    font-size: 32px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.formulario {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 30px;
    background: #f8f9fc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.formulario label {
    font-size: 15px;
    font-weight: 600;
    color: #0916ca;
}

.formulario input {
    width: 100%;
    padding: 11px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.formulario button {
    padding: 11px;
    border: none;
    border-radius: 6px;
    background-color: #0916ca;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #444;
}